# -----------------------------------------------------------------
# 1. Загальні файли Python
# -----------------------------------------------------------------

# Згенеровані файли байткоду Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Файли звітів про покриття тестами
.coverage
.tox/

# Згенеровані пакети для PyPi
dist/
build/
*.egg-info/

# Файли середовища Python (зазвичай віртуальні середовища)
venv/
.venv/
env/

# -----------------------------------------------------------------
# 2. Файли, пов'язані з IDE та редакторами
# -----------------------------------------------------------------

# PyCharm (IntelliJ-based IDEs)
.idea/

# VS Code
.vscode/

# Vim/Nano
*~
*.swp
*.swo

# -----------------------------------------------------------------
# 3. Файли, пов'язані з залежностями та пакуванням
# -----------------------------------------------------------------

# Pip / Poetry / Conda locks and cache
.pip_cache
pip-log.txt
poetry.lock